<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/javascripts/zepto.js"></script>
    <script src="/javascripts/processing3.js"></script>
    <script src="/javascripts/processing2.js"></script>
    <script src="/javascripts/processing4.js"></script>
    <script src="/javascripts/ion.sound.js"></script>
    <div class = logs></div>
    <title></title>
</head>
<body>
<h1 style="color:orangered">Score!</h1>

<div class = rolldice>

    <button class="b3" id="roll" >ROLL THE DICE</button>
    <button class = "b3" id="random">GENERATE RANDOM NUMBERS</button>

    <form id = "eval">
        <select class='b2'>
            <ul id='output'>
                <li><option value = "0"/>SELECT DETAILS></li>
                <li><option value = "0" style="width:72px; height:20px;"/>EVALUATE - No Fractions, All Positive</li>
                <li> <option value = "1"/>EVALUATE - Include Negative Number Solutions</li>
                <li><option value = "2"/>EVALUATE - Fractions and Negative Numbers/li>
            </ul>
        </select>
        <input type='button' class='b2'value='EVALUATE' id='eval'/>
    </form>

</div>

</div>

<br/><br/>
<div class="sides">The sides of the dice are 6, 6, 12, and 20.
    <br/>
    <div class = "rollDisplay"> </div>
    <button style="background-color: black; color: mediumpurple;" id="clean" >ERASE</button>
</div>
<div class="ev" style="color: #beff3c; float: left;"></div>
<br/><br/>
<br/><br/>

</body>
</html>